#[include fluidd.cfg]
[include mainsail.cfg]
[include system/*.cfg]
[include macros/*.cfg]
# [include timelapse.cfg]

# [gcode_controller]
# command_timeout: 0.5 

[printer]
kinematics: corexy
max_velocity: 300 #gpt 350
max_accel:    4000
#max_accel_to_decel: 4000 №больше не актуальна
max_z_velocity: 25
max_z_accel: 300 #350
square_corner_velocity: 8.0 #5.0

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu] #Manta
canbus_uuid: c8a4470807a5

[mcu CB1]
serial: /tmp/klipper_host_mcu

[force_move]
enable_force_move: True

[exclude_object]

[gcode_arcs]
resolution: 0.3 # down from Klipper stock 0.1

[input_shaper]

[idle_timeout]
timeout: 2400 #1800

[output_pin ps_on_pin]
pin: !PD14 #!PD13
shutdown_value: 1

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
# axes_map: z,-y,x #SB2240
axes_map: x,y,z  #EBB36

[lis2dw]
cs_pin: idm:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345 #lis2dw
probe_points: 175, 175, 20

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 5
keep_raw_csv: False
show_macros_in_webui: True

[fan]
pin: EBBCan: PA1
#max_power: 0.8
kick_start_time: 0.5 #
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10 #


[heater_fan hotend_fan]
pin: EBBCan: PA0
fan_speed: 0.8 #1
kick_start_time: 0.5 #
heater: extruder
heater_temp: 50.0

[heater_fan controller_fan]
pin: PA3
heater: heater_bed
heater_temp: 45.0

[temperature_fan SoC_fan]
pin: PF7
#pin: RPI:gpio26
kick_start_time: 0.8
off_below: 0.25
max_power: 1.0
sensor_type: temperature_host
control: pid
min_temp: 10
max_temp: 95
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.2
max_speed: 0.9
target_temp: 42


# [temperature_sensor EBBCan] #ebb_ntc
# sensor_type: Generic 3950
# sensor_pin: EBBCan: PA2

[temperature_sensor M8P]
sensor_type: temperature_mcu

[temperature_sensor CB1]
sensor_type: temperature_host

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: 0
max_temp: 80

[heater_bed]
heater_pin: PA1
sensor_pin: PB1
sensor_type: Generic 3950 #ATC Semitec 104GT-2
control: pid
#max_power: 0.6
min_temp: 0
max_temp: 135

# [fan_generic Nevermore]
# pin: PA5
# heater: heater_bed
# heater_temp: 85

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   40, 21 #40
   40,291 #310
   310,291 #310
   310,21 #40
speed: 300
#horizontal_move_z: 2
retries: 7
retry_tolerance: 0.005 #0.0075
max_adjust: 10


[bed_mesh]
speed: 350 #300                   # Скорость калибровки
horizontal_move_z: 2         # Скорость движения по оси Z
mesh_min: 40,40              # Координаты минимальной точки калибровки x, y
mesh_max: 310,310            # Координаты максимальной точки калибровки x, y
probe_count: 3,3 #50,50             # Количество точек отбора проб (7X7 — 49 точек)
# mesh_pps: 2,2                # Количество дополнительных точек отбора проб
algorithm: bicubic           # Алгоритмическая модель
# bicubic_tension: 0.2         # Алгоритмическая интерполяция не движения
adaptive_margin: 5


##relative_reference_index: 12


#[safe_z_home]
#home_xy_position: 175, 175
#   Sets the x, y position used for z homing with beacon
#z_hop: 10 #3
#   Retracts the z axis before x, y homing to avoid dragging the nozzle.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.630
#*# pid_ki = 2.031
#*# pid_kd = 452.452
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.803
#*# pid_ki = 12.001
#*# pid_kd = 29.769
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 70.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 48.6
#*#
#*# [idm model default]
#*# model_coef = 1.4607093588277522,
#*# 	  1.7729432898776274,
#*# 	  0.7287346075278861,
#*# 	  0.3292458647245306,
#*# 	  0.38912640811569854,
#*# 	  0.4066514823220091,
#*# 	  -0.2423337473990668,
#*# 	  -0.32830999603465316,
#*# 	  0.264679493981468,
#*# 	  0.22157844621494674
#*# model_domain = 3.1566577270670096e-07,3.31787248990572e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 29.213978
#*# model_offset = -0.05000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.136416, -0.000338, -0.138134
#*# 	-0.126076, 0.008186, -0.089351
#*# 	-0.139126, -0.018613, -0.140933
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [bed_mesh auto]
#*# version = 1
#*# points =
#*# 	  0.008158, 0.095620, 0.073809
#*# 	  -0.085526, 0.005013, -0.011756
#*# 	  -0.060997, 0.024444, -0.015427
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 85.5
#*# max_x = 264.5
#*# min_y = 85.5
#*# max_y = 264.5

[include shell_command.cfg]
